[submodule "raspberry/extern/tcp-cpp"]
	path = raspberry/extern/tcp-cpp
	url = https://github.com/unbleaklessness/tcp-cpp
[submodule "raspberry/extern/serial-cpp"]
	path = raspberry/extern/serial-cpp
	url = https://github.com/unbleaklessness/serial-cpp
[submodule "raspberry/extern/mathematics-c"]
	path = raspberry/extern/mathematics-c
	url = https://github.com/unbleaklessness/mathematics-c
